@font-face {
    src: url(/fonts/KumbhSans-Regular.ttf);
    font-family: Kumbh Sans;
}
:root {
    --background-dark: #101010;
    --border-color: #282828;
    --navbar-background: rgba(16, 16, 16, 0.55);
    --text-white: #fff;
    --text-light-gray: rgb(245, 245, 245);
    --text-gray: rgb(122, 122, 122);
    --accent-green: #90fa7d;
    
    /* Gradients */
    --gradient-logo: linear-gradient(to top, #A5FECB, #20BDFF, #5433FF);
    --gradient-button: linear-gradient(to bottom, #26D0CE, #1A2980);
    --gradient-home: linear-gradient(to bottom, #514A9D, #24C6DC);
    --gradient-main-btn: linear-gradient(to bottom, #93F9B9, #1D976C);
    
    /* Component Colors */
    --skills-background: rgb(40, 141, 187);
    --card-background: rgb(30, 29, 28);
    --about-gradient: linear-gradient(134.192deg, rgb(19, 19, 19) 0%, rgb(32, 32, 32) 100%);
    --shadow-color: rgb(32, 32, 32);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Kumbh Sans, sans-serif;
    scroll-behavior: smooth;
}
body {
    background: var(--background-dark);
}
.navbar_container {
    background: var(--navbar-background);
    backdrop-filter: blur(50px);
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    height: 80px;
    height: 80px;
    width: 90%;
    max-width: 1200px;
    /* top/bottom then left/right */
    margin: 0 auto; 
    padding: 0 30px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    position: sticky;
    z-index: 999;
    top: 0;
}
#navbar_logo {
    background: #5433FF; 
    background: var(--gradient-logo);
    background-size: 100%;
    background-clip: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}
.navbar_menu {
    padding: 0px ;
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar_item {
    height: 45px;
}
.navbar_links {
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 125px;
    height: 100%;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}
.navbar_links:hover {
    color: var(--accent-green);
    transition: all 0.3s ease-in-out;
}
.navbar_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 1rem;
   width: 100%;
   font-size: 1.1rem;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--gradient-button);
    color: var(--text-white);
    transition: all 0.5s;
}
.button span {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: 0.5s;
}
.button span i {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    right: -20px;
    font-size: 0.9em;
}
.button:hover span {
    padding-right: 20px;
}
.button:hover span i {
    opacity: 1;
    right: 0;
}
.highlight {
    border-bottom: 2px solid var(--accent-green);
    border-radius: 1px;
}

/* Homepage Section */

.home {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: #101010;
}
.home_container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
    text-align: left;
} 
@media (width <= 1460px) {
    .home_container {
        max-width: 1250px;
    }
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 100px 0;
    }
}
.home_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
}
.home_heading {
    font-size: 60px;
    margin-bottom: 24px;
    color: var(--text-white);
}
.home_heading span {
    background: var(--gradient-home);
    background-size: 100%;
    background-clip: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}
.home_subheading {
    font-size: 30px;
    margin-bottom: 24px;
    color: var(--text-white);
}
.home_description {
    text-align: left;
    font-size: 16px;
    margin-bottom: 24px;
    color: var(--text-white);
    width: 40%;
}
.home_image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
    border: 2px solid rgb(39, 39, 39);
    box-shadow: 1px 3px 15px 5px var(--shadow-color);
}
.main_btn {
    background: var(--gradient-main-btn);
    width: 140px;
    height: 45px;
    align-items: center;
    justify-content: center; 
    border: none;
    border-radius: 9px;
    color: var(--text-white);
    font-size: 1em;
    cursor: pointer;
}
.main_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.main_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.main_btn:hover span {
    padding-right: 15px;
}

.main_btn:hover span:after {
    opacity: 1;
    right: 0;
}
.main_btn a {
    text-decoration: none;
    color: var(--text-white);
}


/* About Page */

.about {
    background: var(--background-dark);
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin: 0 auto; 
    
}
.main_container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
}
/* about section */
.about .main_container:first-child {
    margin-left: 200px;
    border: 1px solid var(--border-color);
    background: var(--about-gradient);
    border-radius: 23px;
    inset: 0px;

}
.about_heading {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--text-white);
}
.about_subheading {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 550;
    color: var(--text-gray);
    margin-top: 5px;
    letter-spacing: 0.06em;
}
.about_description {
    font-size: 18px;
    margin-bottom: 24px;
    color: var(--text-light-gray);
}
.main_container:nth-child(1), .main_container:nth-child(2) {
    flex: 1; 
    max-width: 37.1%;
    min-width: 300px; 
}
/* skills section */
.skills_heading {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--text-white);
    text-align: center;
}
.skills_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.skills_list span {
    font-size: 18px;
    background-color: var(--skills-background);
    /* box-shadow: 1px 8px 10px 2px rgb(32, 32, 32); */
    border-radius: 8px;
    color: var(--text-white);
    padding: 10px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 48%;
    min-width: 150px;
    min-height: 40px;
    transition: all 0.3s ease;
    border: 1px solid var(--border-color);

}
.skills_list span:hover {
    transition: all 0.3s ease;
    font-size: 1.4em;
    font-weight: 700;
}
.about .main_container:nth-child(2) {
    margin-right: 200px;
}
@media (width <= 1460px) {
    .about_description {
        font-size: 16px;
    }
}

/* Projects Page */

.projects {
    background: var(--background-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 180px 0;
    
}
.projects h1 {
    color: var(--text-white);
    margin-bottom: 5rem;
    font-size: 2.5rem;
}
.projects_card {
    background-color: var(--card-background);
    margin: 10px;
    height: 120px;
    width: 1000px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-white);
    border: 1px solid var(--border-color);
    padding-left: 30px;

}
.projects_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.project_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.projects_card h2 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
}
.projects_card p {
    text-align: left;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 1000;
    margin: 0px;
    color: var(--text-gray);
}
.image_container {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc_image {
    height: 120%;
    width: 100%;
    object-fit: cover; 
    border-radius: 5px;
}
.card_link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.projects_card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.projects_card:hover {
    transform: scale(1.02);
}

/* Contact Page */

.contact {
    background: var(--background-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 110px;
}
.contact h1 {
    color: var(--text-white);
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}
.contact h3 {
    color: var(--text-white);
    margin-bottom: 5rem;
    font-size: 1.1rem;
    font-weight: 100;
}
.contact_card {
    margin: 10px;
    height: 325px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-white);
    background-color: var(--skills-background);
    transition: all 0.4s ease-in;
    box-shadow: 1px 8px 10px 2px rgb(32, 32, 32);
    border: 1px solid var(--border-color);
    border-radius: 23px;
    inset: 0px;
}
.contact_card:hover {
    background-color: var(--text-light-gray);
    transition: all 0.6s ease-in;
}
.contact_card:hover h2,
.contact_card:hover p,
.contact_card:hover i,
.contact_card:hover a {
    color: var(--background-dark);
    /* z-index: 2; */
}
.contact_card h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.contact_card p {
    text-align: left;
    margin-top: 20px;
    margin-left: 15%;
    font-size: 16px;
}
.contact_card i {
    margin: 0 10px;
}
.contact_card a {
    text-decoration: none;
    color: var(--text-white);
}
.contact_wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contact_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 10px;
    border-radius: 23px;
}
.contact_input {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 2px;
}
.contact_form_fields {
    display: flex;
    gap: 15px;
    margin-right: -15px;
}
.contact_input input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 9px;
    font-size: 16px;
}
.contact_form_fields input {
    flex: 1;
}
#input_message {
    width: 100%;
    height: 10rem;
    padding: 15px;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    resize: none;
}
#input_message::placeholder {
    text-align: left;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 5px;
}
.contact_btn {
    display: flex;
    justify-content: left;
    margin-top: 15px;
}
.form_btn {
    border: none;
    border-radius: 9px;
    background: var(--gradient-main-btn);
    color: var(--text-white);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    justify-content: center;
    width: 140px;
    height: 45px;
}
.form_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.form_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.form_btn:hover span {
    padding-right: 15px;
}

.form_btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Footer Section */

.framer {
    align-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: var(--background-dark);
}
.footer_container {
    background-color: var(--card-background);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 1px solid var(--border-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.footer_text_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
}
.footer_text h2 {
    text-align: center;
    justify-content: center;
    color: var(--text-white);
    margin-bottom: 75px;
}
.footer_link_items {
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.footer_link_items a {
    color: var(--text-gray);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0 2rem;
}
.footer_link_items a:hover {
    transition: 0.3s;
    color: var(--text-white);
}
.social_media {
    width: 90%;
    max-width: 1200px;
}
.social_media_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#footer_logo {
    color: var(--text-gray);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}
.social_icons {
    display: flex;
    gap: 30px;
}
.social_icon_link {
    color: var(--text-gray);
    font-size: 2em;
}
.social_icon_link:hover,
#footer_logo:hover {
    color: var(--text-white);
    transition: 0.5s;
}
html {
    scroll-behavior: smooth;
}
.fade-in {
    opacity: 0;
    transition: opacity 1.2s ease;
}
.fade-in.visible {
    opacity: 1;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .navbar_container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_links {
        width: 100%;
        padding: 10px 0;
    }

    .home_container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .home_text {
        max-width: 100%;
        text-align: center;
    }

    .home_image {
        width: 300px;
        height: 300px;
    }

    .about {
        padding: 100px 20px;
    }

    .main_container {
        max-width: 100%;
        margin: 0 20px;
    }

    .skills_list span {
        width: 100%;
    }

    .projects_card {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .contact_card {
        width: 90%;
        margin: 20px 0;
    }

    .footer_container {
        width: 100%;
        padding: 3rem 0;
    }

    .footer_text_wrap {
        flex-direction: column;
        align-items: center;
    }

    .footer_link_items {
        margin: 20px 0;
    }

    .social_media_wrap {
        flex-direction: column;
        align-items: center;
    }
}

/* iPhone Screen Responsiveness */
@media (max-width: 375px) {
    .navbar_container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 15px;
    }

    #navbar_logo {
        font-size: 1.2rem;
    }

    .navbar_menu {
        display: none; /* Hide the menu initially */
    }

    .navbar_btn {
        display: block; /* Show the hamburger button */
    }

    .home_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .home_heading {
        font-size: 1.5rem;
    }

    .home_subheading {
        font-size: 1rem;
    }

    .home_description {
        font-size: 0.9rem;
        width: 80%;
    }

    .home_image {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .about {
        padding: 50px 10px;
        text-align: center;
    }

    .main_container {
        max-width: 100%;
        margin: 0 auto;
    }

    .skills_list {
        justify-content: center;
    }

    .projects_card {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .project_text {
        text-align: center;
        margin-bottom: 10px;
    }

    .image_container {
        width: 100%;
        height: auto;
    }

    .contact_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contact_card {
        display: none; /* Hide the reach out card */
    }

    .contact_form {
        width: 90%;
    }

    .footer_container {
        padding: 1rem 0;
    }

    .footer_text_wrap {
        display: none; /* Hide the h2 footer_text */
    }

    .footer_logo {
        margin-bottom: 10px;
    }

    .footer_link_items {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 5px 0;
    }

    .footer_link_items a {
        font-size: 0.9rem;
        margin: 0 1rem;
    }

    .social_icons {
        justify-content: center;
        gap: 10px;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--text-white);
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 375px) {
    .hamburger {
        display: flex;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--background-dark);
        z-index: 999;
    }

    .navbar_menu.active {
        display: flex;
    }
}

